.category-card {
  width: 300px;
  height: 420px;
  border-radius: 24px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
  background-color: var(--white);
  cursor: pointer;
}

.category-card:hover {
  transform: translateY(-6px);
}

.category-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.category-card h4 {
  width: 94%;
  height: 12%;
  text-align: left;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--white);
  padding: 15px 24px;
  border-radius: 15px;
  font-size: 20px;
  color: var(--textblack);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
.category-card h4:hover {
  box-shadow: 0 8px 16px 0 rgba(62, 56, 59, 0.285);
}
.pink-arrow {
  width: 36px;
  height: 36px;
  color: var(--pink);
  position: absolute;
  right: 13px;
  bottom: 8px;
}
